<p id="notice"><%= notice %></p>



<p>
  <% if @user.user_image.present? %>
    <strong>Image:</strong>
     <%= image_tag @user.user_image_url(:thumb), class:"icon" %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>




 <%= link_to '変更する', edit_user_path(current_user.id) %>
 <%= link_to '退会する', user_path, method: :delete, data: { confirm: 'Are you sure?' } %>
 <%= link_to 'ユーザーページへ戻る', users_path %>
