<%= form_with(model: @picture, local: true) do |form| %>
  
  <table>
    <thead>
      <% if picture.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

          <ul>
          <% picture.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    </thead>
    <tbody>
      <tr><td><%= form.label :title %></td><td><%= form.text_field :title %></td></tr>
      <tr><td><%= form.label :content %></td><td><%= form.text_area :content %></td></tr>
      <tr><td><%= form.label :image %></td><td><%= form.file_field :image %></td></tr>
    </tbody>
  </table>
  <%= form.submit "投稿する" %>
<% end %>

