<p id="notice"><%= notice %></p>

<h1>Pictures</h1>
<table>
  <thead>
    <tr>
      <th>投稿一覧</th>
    </tr>
  </thead>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr><td>title</td><td><%= picture.title%></td></tr>
      <tr><td>content</td><td><%= picture.content%></td></tr>
      <tr><td>user</td><td><%= picture.user.name%><%= link_to 'Show', picture %></td></tr>
      <tr><td>favorite</td><td><%= link_to picture.favorites.count, favorite_picture_path(id: picture.id) %></td></tr>
      
    <% end %>
  </tbody>
</table>


<%= link_to 'New Picture', new_picture_path %>
