<p id="notice"><%= notice %></p>

<%= link_to 'New Picture', new_picture_path %>
<h1>Pictures</h1>
<table>
  <thead>
    <tr>
      <th>投稿一覧</th>
    </tr>
  </thead>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td>
          <% if picture.user.user_image.present? %>
           <%= image_tag(picture.user.user_image_url(:thumb),class:"icon") %>
          <% end %> 
          <%= picture.user.name%></td>
       </tr>
      <tr><td><strong><%= picture.title%></strong></td></tr>
     <tr><td><%= picture.content%></td></tr>
     <tr><td>
      <% if picture.user.user_image.present? %>
         <%= image_tag picture.image_url%>
       <% end%>
     </td> </tr>
      <tr>
       <td>
         <strong>
          <% if picture.favorites[0] %>
            <%= link_to "いいねを解除する", favorites_path(id: picture.favorites[0].id), method: :delete %>
          <% else %>
            <%= link_to "いいね", favorites_path(picture_id: picture.id), method: :post %>
          <% end %>
          </strong>
          <%= link_to picture.favorites.count, favorite_picture_path(id: picture.id) %>
        </td>
        <td>  <%= link_to 'Show', picture %></td>
      </tr>
    
    <% end %>
  </tbody>
</table>


