<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>

<p>
  <% if @picture.image.present? %>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
  <% end %>
</p>

<p>
  <strong>
    <% if @favorite %>
      <%= link_to "いいねを解除する", favorites_path(id: @favorite.id), method: :delete %>
    <% else %>
      <%= link_to "いいね", favorites_path(picture_id: @picture.id), method: :post %>
    <% end %>
  </strong>
</p>

<% if admin %>
 <%= link_to '編集する', edit_picture_path(@picture.id) %>
 <%= link_to '削除する', picture_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', pictures_path %>
